
<div class="col-md-8">
<table class="table table-bordered table-striped">
<tbody>
	<% @users.each do |user| %>
<tr>
	<td class="col-sm-2"><%= user.email %></td>
	<td class="col-sm-6"><%= user.public_key.inspect %></td>
</tr>
<% end %>
</tbody>
</table>
</div>