
<div class="col-md-8">
<table class="table table-bordered table-striped">
<tbody>
	<% @users.each do |user| %>
<tr>
	<td class="col-sm-2"><%= link_to(user.email, user) %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
