<div class="col-md-8">
<%= link_to "New Safe", new_safe_path, class: "btn btn-sm btn-success" %><p>
<table class="table table-bordered table-striped">
<tbody>
	<% @safes.each do |safe| %>
<tr>
	<td class="col-sm-2"><%= link_to(safe.name, safe) %></td>
	<td class="col-sm-6"><%= safe.description %></td>
</tr>
<% end %>
</tbody>
</table>
</div>