<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
</head>
<body>
  <h1>You've received a new file from <%= @sender.email %></h1>
  <p>
    You will be able to decrypt this file with any safe from your safes repository<br>
    Unzip the attached file. Inside will be the VT file and the Encrypted file which<br>
    you may upload to the site using the decrypt function<br>
  </p>
  <p>
    Enter the following Information into the decrypt function in any safe:<br>
    Your private key: use your 
